.sidebar {
  width: 35%;
  height: 100%;
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2a3942;
  padding: 0px 20px;
  gap: 12px;
}

.search-bar{
  padding: 0 20px;
}

/* Responsive */

@media (max-width: 1024px) {
  .sidebar{
    width: 30%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .sidebar{
    width: 100vw;
    padding: 0 16px;
    border-right: none;
  }

  .search-bar {
    padding: 0 12px;
  }
}