.contactList{
    display: flex;
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
    overflow-y: auto;      
    height: 100%;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}

.contactList::-webkit-scrollbar {
  width: 6px;
}

.contactList::-webkit-scrollbar-thumb {
  background-color: #9F9F9F;
  border-radius: 3px;
}

.contactList::-webkit-scrollbar-track {
  background-color: #2E2E2E;
}